.container {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.filtersMenu {
    display: flex;
    gap: 47px;
    width: 272px;
}

.displayContainer {
    display: flex;
    flex-direction: column;
    width: 727px;
}