.container {
    display: grid;
    grid-template-areas:
        "filtersMenu sortMenu"
        "filtersMenu displayList";
    justify-content: space-between;
    margin: 20px auto 20px;
}

.filtersMenu {
    grid-area: filtersMenu;
    display: flex;
    width: 272px;
}

.sortingList {
    grid-area: sortMenu;
    width: 727px;
}

.itemsList {
    grid-area: displayList;
    width: 727px;
}

.filtersVisible {
    visibility: visible;
    height: auto;
}

.filtersHidden {
    visibility: hidden;
    height: 0;
}

@media screen and (max-width: 1080px) {
    .container {
        display: grid;
        grid-template-areas:
            "sortMenu"
            "filtersMenu"
            "displayList";
        justify-content: center;
        grid-template-columns: 695px;
    }

    .filtersMenu {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    .sortingList {
        width: 100%;
    }

    .itemsList {
        width: 100%;
    }
}

@media screen and (max-width: 745px) {
    .container {
        grid-template-columns: 400px;
    }

    .filtersMenu {
        margin-top: 12px;
    }

}