.container {
    max-width: 1050px;
    min-height: 100vh;
    padding: 80px 0;
    box-sizing: border-box;
    margin: 0 auto;
}

@media screen and (max-width: 1080px) {
    .container {
        max-width: 768px;
        padding: 20px 0;
    }
}

@media screen and (max-width: 745px) {
    .container {
        max-width: 430px;
        padding: 30px 0;
    }
}